NetworkCloudClient_
NetworkCloudClientDefault
NetworkCloudClient/target
NetworkCloudClient/src/test
NetworkCloudClient/nbactions.xml
NetworkCloudClient/nbactions-fx.xml
NetworkCloudClient/nb-configuration.xml
NetworkCloudServer/target
NetworkCloudServer/src/test
NetworkCloudServer/nbactions.xml
.gitignore
